<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% title %}</title>
    <link rel="stylesheet" href="/file/css/bootstrap.min.css">
    <link rel="stylesheet" href="/file/js/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/file/js/codemirror/theme/dracula.css">
    <link rel="stylesheet" href="/file/css/site.css">
</head>
<body class="playground">
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <strong>{% title %}</strong>
            </a>
            
            <div class="btn-group">
                <button class="btn btn-success run-code">Run</button>
                <button class="btn btn-info share">Share</button>
            </div>
            </div>
        </div>
    </header>
      

    <div class="container-fluid">
        <div class="row">
            <textarea class="code-editor"></textarea>

            <div class="col-md-12 bg-dark">
                <code class="output-code"></code>
            </div>
        </div>
    </div>  

    <!-- Modal -->
    <div class="modal fade share-modal" id="share" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareModalLabel">Share</h5>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control share-link" placeholder="Your link not ready..."/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary share-close">Close</button>
        </div>
      </div>
    </div>
  </div>
    
    <script src="/file/js/jquery-3.6.0.min.js"></script>
    <script src="/file/js/bootstrap.min.js"></script>
    <script src="/file/js/codemirror/lib/codemirror.js"></script>
    <script src="/file/js/site.js"></script>
    <script>
        $(document).ready(function() {
            
            var site = new OLanguagePlayground('.playground');
            site.init();
        });
    </script>
</body>
</html>